extends layout

block content
  .w3-container.w3-margin-top
    h2.w3-center.w3-xxlarge.w3-text-indigo Edição #{edicao._id}
    ul.w3-ul.w3-hoverable
      li
        strong ID: 
        | #{edicao._id}
      li
        strong Ano da Edição: 
        | #{edicao.anoEdicao}
      li
        strong País Organizador: 
        a(href=`/paises/${encodeURIComponent(edicao.organizacao)}`, class="w3-text-blue") #{edicao.organizacao}
      li
        strong País Vencedor: 
        a(href=`/paises/${encodeURIComponent(edicao.vencedor)}`, class="w3-text-blue") #{edicao.vencedor}
    if edicao.musicas && edicao.musicas.length > 0
      h3.w3-margin-top Lista de Músicas
      table.w3-table-all.w3-hoverable
        thead
          tr
            th Nome da Música
            th Intérprete
            th País
        tbody
          each musica in edicao.musicas
            tr
              td #{musica.titulo}
              td #{musica.interprete}
              td #{musica.pais}
    .w3-left.w3-margin-top
      a.w3-button.w3-red.w3-round-xxlarge(href='/') ⬅ Voltar à Página Principal
